/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wc-latest-products-grid-block {
	border: 1px dotted #f00;
	background-color: #fff;
	color: #000;
}

ul.wc_latest_products_grid_section.products {
	margin-left: 0;
	margin-bottom: 0;
	clear: both;
}

ul.wc_latest_products_grid_section.products.columns-3 li.product {
	width: 29.4117647059%;
	float: left;
}

ul.wc_latest_products_grid_section.products li.product {
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
	display: inline-block;
}